<%= form_with(model: datum, local: true) do |form| %>
  <% if datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :altitude %>
    <%= form.text_field :altitude, id: :datum_altitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :datum_longitude %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :datum_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
