<p id="notice"><%= notice %></p>

<p>
  <strong>Altitude:</strong>
  <%= @datum.altitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @datum.longitude %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
